

.my-container{
    background-color: #fff;
    /* padding: 2rem 2rem; */
    border-radius: 0.5rem;
    margin-top: 1rem;
    position: relative;
    margin-bottom: 3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

.my-container h2{
    margin: 2rem;
}