@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet');

body * {
  font-family: 'Poppins', sans-serif;

}

body{
  margin: 0;
  min-height: 100vh;
  height: auto;
  
}

.app {
  display: flex;
  min-height: 100vh;
  height: auto;
 
}


.header-sidebar{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

 

}

#reset-btn{
  
  font-size: large;
  cursor: pointer;
  padding: 0.5rem 6rem;
  
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #dadada;
  height: 100vh;
  position: sticky;
  top:0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto; /* Allow scrolling in sidebar */
}

.input-box{
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

label{
  font-size: 1.2rem;
  font-weight: bold;
}

input{
  font-size: 1.2rem;
  padding: 0.45rem 0.45rem;
  
}

h2{
  margin: 0;
  margin-bottom: 1.5rem;
 
}

.personal-container{
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

.personal-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.education-container{
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  position: relative;
 
}



.pls-btn{
  position: absolute;
  top: 100; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 2rem;
  
  
  cursor: pointer;
  
}

.pls-text{
  font-size: 1.4rem;

}

#pls-btn{
  width: 35px;
  height: 35px;
 
}





.cv-preview {
  flex: 3;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  

}

.cv h2, .cv h3 {
  margin: 10px 0;
}
